@import './base/settings';
@import './base/base';
@import './components/_header';
@import './components/footer';
@import './components/_filters';
@import './components/_homepage';
@import './components/_pokemondetails';

*{
    box-sizing: border-box;
    font-family: 'Press Start 2P';
}

.container {
    max-width: 180rem;
    margin: 0 auto;
}